/*  */
div{
background-image: url('../img/web-development-banner.jpg');
width:100%;
height: 100vh;

}
h1{
 font-size: xxx-large;
 font-family: 'Times New Roman', Times, serif;
 font-weight: 100;
 font-style: initial;
    color: rgb(249, 219, 253);
    
    width: fit-content;
    margin-left: 70%;
}
h4{
    font-size: x-large;
    color: rgb(255, 182, 251);
    font-family: 'Times New Roman', Times, serif;
 font-weight: 100;
 font-style: initial;
 margin-left: 70%;
}
hr{
    width: 30%;
margin-left: 68%;

}
table{
width: 100%;
color: white;
background-color: rgb(255, 255, 255,0.7);
}
td{
font-size: x-large;
}
h2{
    font-size: x-large;
    color: rgb(255, 255, 255);
font-family: serif;
 font-weight: 100;
 font-style: initial;
 margin-left: 70%;
border-radius: 85%;
width:10%;
text-align: center;

height:5vh;
background-color: rgba(187, 207, 248, 0.7);
}
a{
    text-decoration: none;
    color: aliceblue;
}
